@font-face {
	font-family: "DeterminationSans";
	src: url(fonts/DeterminationSansWeb.woff) format("woff");
}
@font-face {
	font-family: "DeterminationMono";
	src: url(fonts/DeterminationMonoWeb.woff) format("woff");
}
@font-face {
	font-family: "MonsterFriendFore";
	src: url(fonts/MonsterFriendFore.otf) format("opentype");
	font-style: normal;
}
@font-face {
	font-family: "MonsterFriendBack";
	src: url(fonts/MonsterFriendBack.otf) format("opentype");
	font-style: normal;
}
body {
	background-color: #000;
	color: #fff;
	font-family: "DeterminationSans", 'Inconsolata', monospace;
}
form {
	display: flex;
	flex-wrap: wrap;
	font-family: "DeterminationSans", 'Inconsolata', monospace;
}
form fieldset {
	display: flex;
	flex-direction: column;
	font-family: "DeterminationSans", 'Inconsolata', monospace;
}
label {
	font-family: "DeterminationSans", 'Inconsolata', monospace;
}
.overlap {
	position: absolute;
	width: 95%;
	margin-bottom: 10px;
}
.back {
	z-index: 1;
	opacity: .6;
	font-family: "MonsterFriendBack";
}
.fore {
	z-index: 2;
	opacity: .9;
	font-family: "MonsterFriendFore";
}
.padding {
	padding: 60px;
}
#papyfont {
	font-family: Papyrus, DeterminationSans, 'Inconsolata', monospace;
}
.paddedimg {
	padding: 10px;
}
.vertalign {
	margin-top: -100px;
	margin-left: 120px;
}
fieldset {
	border-radius: 5px;
}
footer {
	text-align: center;
	font-size: small;
	font-face: DeterminationMono
}
@keyframes dreem {
	0% {
		color: red;
	}
	17% {
		color: #FF0;
	}
	33% {
		color: #0F0;
	}
	50% {
		color: #0FF;
	}
	67% {
		color: #00F;
	}
	84% {
		color: #F0F;
	}
	100% {
		color: red;
	}
}
@-webkit-keyframes dreem {
	0% {
		color: red;
	}
	17% {
		color: #FF0;
	}
	33% {
		color: #0F0;
	}
	50% {
		color: #0FF;
	}
	67% {
		color: #00F;
	}
	84% {
		color: #F0F;
	}
	100% {
		color: red;
	}
}
@-moz-keyframes dreem {
	0% {
		color: red;
	}
	17% {
		color: #FF0;
	}
	33% {
		color: #0F0;
	}
	50% {
		color: #0FF;
	}
	67% {
		color: #00F;
	}
	84% {
		color: #F0F;
	}
	100% {
		color: red;
	}
}
.asriel {
	animation: dreem 5s linear 0s infinite normal;
	-webkit-keyframes: dreem 5s linear 0s infinite normal;
	-moz-keyframes: dreem 5s linear 0s infinite normal;
}
