body {
	background-color: black;
	color: white;
	font-family: 'Ubuntu', 'Verdana', sans-serif;
}
form {
	display: flex;
	flex-wrap: wrap;
}
form fieldset {
	display: flex;
	flex-direction: column;
}
label {
	font-family: 'Inconsolata', monospace;
}
